{% include 'main.html' %}

{% block content %}
<body>

    <form action="" method="post">
        {% csrf_token %}

        <label for="description">Task's name</label>
        <input type="text" name="description" id="">
        <label for="duedate">finish time</label>
        <input type="date" name="duedate" id="">
        <select name="categories" id="">
            <option value="empty">-------</option>
        {% for value, label in choices %}
            
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
        </select>
        


        <button type="submit">save</button>

       </form>
</body>
{% endblock content %}