{% extends 'main.html' %}

{% block content %}
<body>
    <div class="deletemodal">
        <div class="delete_header"><p>Delete</p></div>
        <div class="delete_details">
            <p>are you sure you want to delete </p>
            <p>"{{del.description}}" task</p>
        </div>
        
            <form action="" method="post">
                {% csrf_token %}
                <div class="delete_form">
                    <button type="submit">delete</button>
                    <div><a href="{% url 'task_details' del.id %}">No</a><div>
                </div>
            </form>
        

    </div>
    
</body>
{% endblock content %}