{% extends 'main.html' %}

{% block content %}
<body>

      {% if page == 'login' %}
<div id="loginModal" class="loginmodal">

  <div class="login-divi">
    <div class="login-header-div">
      <h1>SIGN IN</h1>
    </div>

    <form action="" method="post" class="form-div">
        {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Please enter your username..." required id="username">

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter your password..."required id="password" class="password">
  
    <div class="sigupbtn-div">
        <button type="submit" >login</button>
    </div>
    
      
    </form>
    <div>
      <p>if you haven't signed up</p>
      <a href="{% url 'create_account' %}">sign up</a>
    </div>
  </div>
</div>
    {% else %}
    <div id="signupModal" class="modal">

  <div class="signup-div">
    <div class="header-div">
      <h1>REGISTER</h1>
    </div>

    <form action="" method="post" class="form-div">
        {% csrf_token %}

        {% for message in messages %}
          {% if message.tags == 'success' %}
            <p style="color: green;">{{ message }}</p>
          {% else %}
            <p style="color: red;">{{ message }}</p>
          {% endif %}
        {% endfor %}
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Please enter your username..." required id="username">

     
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Please enter your email..."required id="email">
      

      
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter your password..."required id="password" class="password2">
    
      

        <label for="confirmpassword">Confirm your password:</label>
        <input type="password" name="confirmpassword" placeholder="Please confirm your password..."required id="confirmpassword">
        
            
    <div class="sigupbtn-div">
        <button type="submit" >Signup</button>
    </div>
      
    </form>
    <div class="notsign">
      <p>if you have already signed up</p>
      <a href="{% url 'loginpage' %}">login</a>
    </div>
  </div>
</div>
   {% endif %}

</body>
{% endblock content %}