{% extends 'main.html' %}
{% block content %}
<body>
    <div class="create_task">
        <div class="create_task_div">
            <div class="header_task">
                <h2>Edit The Task</h2>
            </div>
            <div class="create_task_details">
                <form action="" method="post">
                    {% csrf_token %}
                <label for="description">The Task</label>
                <input type="text" name="description" id="description" class="description"required>

                <label for="due_date">Until when</label>
                <input type="date" name="due_date" id="due_date" class="due_date" required>

                <label for="category"> Priority: </label>
                <select name="category" id="category" class="category">
                    <option value="category"> -------- </option>
                   
                   {% for valuable, choice  in choices %}
                         <option value="{{ valuable }}"> {{choice}} </option>
                    {% endfor %}
                </select>

                <button type="submit" class="task_button">edit</button>
            </form>
        </div>
        
    </div>
    
</body>
{% endblock content %}